.about-us-list-container{
    padding: 20px;
    border-radius: 20px;
    background: rgb(34, 27, 28, 0.9);
    box-shadow: 0 5px 5px #221b1c ;
    width: 500px;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.about-us-links{
    margin: 20px;
}

.about-us-names{
    margin-left: auto;
    margin-right: auto;
}

.about-us-all{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel-img{
    width: 800px;

}

.App{
    margin: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-us-title{
    color: white;
}

.slides{
    margin-right: auto;
    margin-left: auto;
    width: 1500px;
}

.about-us-img{
    width: 400px;
}