.deck-page-card-container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 20vw 74.9vw;
    justify-content: center;
    align-items: center;
}

.deck-page-left {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 95vh;
    align-items: center;
}

.deck-page-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.deck-page-card-list {
    display: flex;
    flex-direction: column;
    width: 223px;
    height: 400px;
    margin: 5px;
    border-radius: 10px;
}

.deck-page-button-dropdown {
    display: flex;
    flex-direction: row;
}

.deck-page-div {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 350px;
    height: 300px;
    background-color: rgb(34, 27, 28);
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    justify-content: space-around;
    color: white;
}

.deck-page-button {

}