.header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 27, 28, 0.9);
    box-shadow: 0 5px 5px #221b1c ;
    padding-bottom: 5px;
    position: sticky;
}
.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

}
.inputSearch {
    border-radius: 4px;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid lightgrey;
    background-color: rgb(34, 27, 28, 0.3);
    color: lightgray;
    width: 20vw;
}
.logo-div {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: -100px;
}
.header-links {
    width: 75vh;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logout {  
    margin-right: 25px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.link-button {
    background-color: #CFD3CE;
    height: 75px;
    width: 150px;
    border-radius: 15px;
    box-shadow: 0 2px 5px #CFD3CE;

}
.logout-button {
    height: 50px;
    width: 75px;
    border-radius: 10px;
    background-color: #CFD3CE;
    box-shadow: 0 2px 5px #CFD3CE;

}


img {
    height: 10vh;
    width: 35vh;
    border-radius: 15px;
}