.header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    background-color: #34626C;
    border-bottom: solid black 2px;
    box-shadow: 0 5px 5px #888888;
    padding-bottom: 5px;
    position: sticky;
}
.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

}
input {
    margin-bottom: 5px;
    background-color: #CFD3CE ;
    
}
.logo-div {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: -100px;
}
.header-links {
    width: 75vh;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logout {  
    margin-right: 25px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.link-button {
    background-color: #CFD3CE;
    height: 75px;
    width: 150px;
    border-radius: 15px;
    box-shadow: 0 2px 5px #CFD3CE;

}
.logout-button {
    height: 50px;
    width: 75px;
    border-radius: 10px;
    background-color: #CFD3CE;
    box-shadow: 0 2px 5px #CFD3CE;

}


img {
    height: 10vh;
    width: 40vh;
    border-radius: 15px;
}