.header {
    height: 15vh;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(34, 27, 28, 0.9);
    box-shadow: 0 5px 5px #221b1c ;
    padding-bottom: 5px;
    position: sticky;
    border: solid black 2px;
}
.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
/* .inputSearch {
    border-radius: 4px;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid lightgrey;
    width: 20vw;
} */

.logo-div {
    width: 300px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-decoration: none;
}
:link {
    color: lightgrey
}
:visited {
    color: lightgrey
}

.logout {  
    display: flex;
    align-items: center;
    margin: 10px;
}

.logout-button {
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
}

button {
    border-radius: 8px;
}


.img-logo {
    width: 250px;
    height: 50%;
    border-radius: 15px;
}

.space-between {
    padding: 10px;
}

.header-link {
    text-decoration: none;
}

.header-link:hover {
    text-decoration: underline;
  }

