.left-drawer-div {
    
    max-height: calc(var(--footer));
    min-height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    position: absolute sticky;
    flex-direction: column;
    justify-content: left;
    margin-left: 5px;
    
}
.selectors-div {
    background-color: rgb(34, 27, 28, 0.8);
    border: solid black 2px;
    border-radius: 15px;
    margin-bottom: 10px;

}
.type-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    color: lightgray;
    margin-bottom: 15px;
    margin-top: 25px;
    
}
.subtypes-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color: lightgray;
    margin-bottom: 15px;
}
select {
    background: #221b1c;
    color: lightgray;
}
.mana-form {
    background-color: rgb(34, 27, 28, 0.8);
    color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: solid 1px black;
    border-radius: 15px;
    height: 85vh
}
.span {
    display: inline;
}
.check-box {
    width: 25px;
    display: none;
}
input[type=checkbox]:checked + image {
    border: solid red 4px
 }
.form-button {
    margin-top: 5px;
}
.mana-img {
    height: 50px;
    width: 50px;
}



