.card-container {
    /* width: 80vw; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.image-div {
    position: relative;
    background-image: url('../images/image.png');
    background-repeat: no-repeat;
    background-image: cover;
    background-size: 223px 310px;
    text-decoration: none;
    width: 223px;
    height: 310px;
    margin: 5px;
    border-radius: 10px;
}

img {
    border-radius: 10px;
}

.main-list-div {
    display: flex;
    grid-template-columns: 10 60 30;
}

.image-div:hover {
    cursor: pointer;
}

.paging-button {
    display: flex;
    justify-content: center;
    align-items: center;
}





