.center-deck-page-content {
    display: flex;
    justify-content: center;
}

.new-deck-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    height: 100%;
    width: 80vw;
}

.new-deck-form {
    height: 40vh;
    width: 30vw;
    background-color: rgb(34, 27, 28, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

input {
    border-radius: 4px;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid lightgrey;
    color: #221B1C;
    width: 20vw;
}

button {
    border-radius: 4px;
    padding: 10px 20px;  
    background-color: #0C998B;
    color: lightgrey;
    font-size: 1.01em;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}

.deck-template-p {
    color: white;
}