.right-drawer-div {
    background-color: rgb(34, 27, 28, 0.8);
    color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: solid black 2px;
    border-radius: 15px;
    height: 99%;
    margin-top: 5px;
}
.display-image {
     margin-top: 50px; 
    margin-bottom: 5px;
}

.description-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 15px;
    margin-top: 25px;
    text-align: center;
    width: 80%;
}

.right-drawer-img{
    margin-top: 50px;
    margin-bottom: 50px; 
}

.right-drawer-select {
    margin-top: 10px;
}
