.right-drawer-div {
    background-color: rgb(34, 27, 28, 0.8);
    min-height: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right-drawer-img{
    margin-top: 50px;
}

.right-drawer-card-text {
    width: 80%;
    text-align: center;
    
}