body {
  background-image: url(./images/swamp.png);
  background-attachment: fixed;
  background-repeat: none;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}
