body {
  background-image: url(./images/swamp.png);
  background-attachment: fixed;
  background-repeat: none;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

select {
  width: 150px;
  padding: 8px;
  border-radius: 8px;
}

img {
  border-radius: 10px;
}
